body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #13f7ff, #e4fafa);
    font-size: 16px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

.container {
    max-width: 900px;
    background: linear-gradient(to right, #e60685, #cf6fa9);
    margin: auto;
    padding: 15px;
    border-right: 6px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25), 0 10px 20px rgba(0,0,0,0.10);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.profile-img {
    transition: transform 0.3s ease;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

@media (max-width: 600px){
    .profile-img {
        width: 90px;
        height: 90px;
    }
}

.profile-img:hover {
    transform: scale(1.07);
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #ffffff;
}

.subtitle {
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
}

.tabs {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background: rgba(255,255,255,0.25);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s;
    transition: transform 0.25s ease, background 0.25s ease;
}

@media (max-width: 600px) {
    .tabs {
        flex-direction: column;
    }
}

.tab:hover, .tab.active {
    background: rgba(255,255,255,0.4);
    transform: scale(1.3);
}

.content-section {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: none;      
    padding: 10px
}

@media (max-width: 600px) {
    .content-section {
        padding: 5px;
    }
}

.content-section.active {
    display: block;     
    opacity: 1;
    transform: translateX(0);
}


h2 {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    margin-top: 20px;
}

h3 {
    color: #ffffff;
    padding-bottom: 5px;
    margin-top: 20px;
}

p, li {
    color: #ffffff;
    font-size: 15px;
}

ul {
    padding-left: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 400px;         
    padding-bottom: 225px; 
    height: 225px;
    overflow: hidden;
    margin: 0; 
    border-radius: 20px;
}

@media (max-width: 600px) {
    .video-container {
        width: 100%;
        height: 0:
    }
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;         
    height: 100%;     
    border-radius: 20px;
}













































